body {
	text-align: center;
	background-color: #011f3f;
}

#level-title,
.mobile-version-button {
	font-family: "Press Start 2P", cursive;
	font-size: 3rem;
	margin: 5%;
	color: #fef2bf;
}

.container {
	display: block;
	width: 50%;
	margin: auto;
}

span {
	display: none;
}

.mobile-version-button {
	font-size: 1.5em;
	background-color: #011f3f;
	color: #fef2bf;
	width: auto;
	cursor: pointer;
	border-radius: 10px;
	border: 5px solid #dbedf3;
}

.mobile-version-button:active {
	background-color: #7895cb;
	border: 3px solid #dbedf3;
}

.mobile-version-button:hover {
	background-color: #7895cb;
}

.btn {
	margin: 25px;
	display: inline-block;
	height: 200px;
	width: 200px;
	border: 10px solid black;
	border-radius: 20%;
}

.game-over {
	background-color: red;
	opacity: 0.8;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}

.pressed {
	box-shadow: 0 0 20px white;
	background-color: grey;
}
footer {
	color: #dbedf3;
	font-family: sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

.refresh-btn {
	position: sticky;
	top: 20px;
	right: -20px;
	z-index: 9999;
	margin-left: 80vw;
	cursor: pointer;
}

.refresh-btn button {
	cursor: pointer;
}

.refresh-btn i {
	font-size: 60px;
}

@media (min-width: 1200px) {
	.mobile-version-button {
		display: none;
	}
	span {
		display: inline;
	}
}
